a { text-decoration: underline;}

.py-1, .py-2, .py-3, .py-4 { text-decoration: none; }

.text-xl, .text-1xl { text-decoration: none; }

h1, h2, h3, h4, h5 { text-decoration: none; }


.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}
.skills {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    height: 1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 0.563rem;
    padding-right: 0.563rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: #595959;
    --tw-bg-opacity: 1;
    background-color: #595959;
    --tw-text-opacity: 1;
    color: hsl(var(--bc) / var(--tw-text-opacity));
    border-radius: var(--rounded-badge, 1.9rem);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
