---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Jeff Mann's Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Contact</div>
    <p><a href="mailto:hello@jeffmann.xyz">hello@jeffmann.xyz</a></p>
    <p><a href="https://linkedin.com/in/jeffrey-mann" target="_blank">LinkedIn Profile</a></p>
    <p><a href="https://becausebirds.com" target="_blank">Personal Blog</a></p>
  </div>

  <div class="mb-10 text-justify">
    <div class="text-3xl w-full font-bold">Summary</div>
    <p>
      A fully-rounded digital marketer with a focus on continuous learning and insight generation through quantitative testing and analytics. Experienced in Marketing Automation Software (Salesforce Marketing Cloud), Google Analytics 4, SEO, SEM, CMS (Wordpress, Kentico), Social Media Strategy, Brand Management, Adobe CC, and User Experience Optimization.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BA, Psychology"
      subtitle="UC Irvine"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Marketing Analytics Manager"
      subtitle="July 2023 - Present (6 months) at The Holt Group, San Antonio, Texas, United States"
    >
      Develops and implements data-driven strategies to optimize marketing initiatives across various digital channels. Analyzes and interprets data to optimize digital marketing campaigns. Presents regular reports on campaign performance, including KPIs and ROI. Collaborates with the marketing team to improve campaign performance and drive growth.
    </TimeLineElement>
    
    <TimeLineElement
      title="CSO Process Manager"
      subtitle="2022 - 2023 (1 year) at Credit Human, San Antonio, Texas"
    >
      (Include details of responsibilities and achievements during this role)
    </TimeLineElement>

    <TimeLineElement
      title="Digital Marketing Manager"
      subtitle="2018 - 2022 (4 years) at Credit Human, San Antonio, Texas"
    >
      Managed the development and deployment of cross-channel digital marketing campaigns. Analyzed the performance of the CreditHuman.com website using GA4, multivariate testing, and dashboarding. Provided direction to agencies and vendors, administered marketing technology platforms, and measured/reporting campaign performance against goals.
    </TimeLineElement>

    <TimeLineElement
  title="Digital Marketing Specialist"
  subtitle="2018 - 2018 (less than a year) at Credit Human, San Antonio, Texas"
>
  Analyzed the performance of digital marketing campaigns via email, social, and targeted web ads. Designed automated workflows to move leads through the sales funnel using calls-to-action, custom landing pages, analytics, and other inbound marketing techniques. Key person in implementing HubSpot CRM and CMS. Managed migration of the company blog from legacy software to WordPress. Oversaw on-site and off-site advertising. Created assets for marketing campaigns including copy and HTML templates for emails, landing pages, blog posts, and advertisements. Setup and optimized Google AdWords and Facebook ad campaigns. Improved ranking of key landing pages for various search terms.
</TimeLineElement>

<TimeLineElement
  title="Digital Marketing Specialist"
  subtitle="2014 - 2016 (2 years) at Casting Networks, Inc., Los Angeles, California"
>
  Developed and executed digital marketing campaigns via email, social, and targeted web ads. Designed automated workflows to move leads through the sales funnel utilizing calls-to-action, custom landing pages, analytics, and other inbound marketing techniques. Key person in implementing HubSpot CRM and CMS. Setup and managed migration of company blog from legacy software to WordPress. Managed on-site and off-site advertising. Created assets for marketing campaigns including copy and HTML templates for emails, landing pages, blog posts, and advertisements. Oversaw creation of monthly newsletters sent to over 350,000 users, collaborating articles, ads, and events.
</TimeLineElement>

<TimeLineElement
  title="Digital Marketing Coordinator"
  subtitle="2010 - 2014 (4 years) at Casting Networks, Inc., Los Angeles, California"
>
  Created assets for marketing campaigns including copy and HTML templates for emails, landing pages, blog posts, and advertisements. Oversaw creation of monthly newsletters sent to over 350,000 users, collaborating articles, ads, and events. Designed email templates in MailChimp, HubSpot, and Adobe Contribute. Setup and optimized Google AdWords and Facebook ad campaigns. Improved ranking of key landing pages for various search terms.
</TimeLineElement>

<TimeLineElement
  title="Social Media Coordinator"
  subtitle="2009 - 2010 (1 year) at Casting Networks, Inc., Los Angeles, California"
>
  Monitored and managed social media efforts across Facebook and Twitter. Produced video tutorials, promotional digital and print materials. Grew social audience from 4,000 to 60,000 followers. Developed social media strategy for new domestic/international regions to grow interest and provide customer service.
</TimeLineElement>

{/* Add more experience sections as needed */}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">Essential Facilitation Certification</a>
    </li>
    <li>
      <a href="#" target="_blank">Google Analytics 4 Certification</a>
    </li>
    {/* Add more certifications as needed */}
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

<div class="badge badge-secondary mx-2">Google Analytics 4</div>
<div class="badge badge-secondary mx-2">Salesforce Marketing Cloud</div>
<div class="badge badge-secondary mx-2">Google Tag Manager</div>
<div class="badge badge-secondary mx-2">SQL</div>
<div class="badge badge-secondary mx-2">Search Engine Marketing (SEM)</div>
<div class="badge badge-secondary mx-2">SEO</div>
<div class="badge badge-secondary mx-2">Wordpress</div>
<div class="badge badge-secondary mx-2">Social Media Strategy</div>
<div class="badge badge-secondary mx-2">Brand Management</div>
<div class="badge badge-secondary mx-2">Adobe CC</div>
<div class="badge badge-secondary mx-2">Google Optimize</div>
<div class="badge badge-secondary mx-2">Spanish</div>


  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Google Analytics 4</li>
    <li>Salesforce Marketing Cloud</li>
    <li>Google Tag Manager</li>
    <li>SQL</li>
    <li>Search Engine Marketing (SEM)</li>
    <li>SEO</li>
    <li>Wordpress</li>
    <li>Social Media Strategy</li>
    <li>Brand Management</li>
    <li>Adobe CC</li>
    <li>Google Optimize, Optimizely</li>
    <li>Spanish (Language)</li>
    {/* Add more skills as needed */}
  </ul>
</BaseLayout>
